.li {
  list-style: none;
  border: 1px solid gray;
  padding: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.img {
  width: 250px;
  height: 250px;
}
.title {
  font-size: 24px;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  text-align: center;
}
.description {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: rgb(0, 0, 0);
  height: 65px;
  margin-top: 5px;
}
.price {
  font-size: 20px;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  margin-top: 5px;
}
.btn {
  width: 120px;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  background-color: red;
  margin-top: 5px;
  border-radius: 10%;
  border: none;
  cursor: pointer;
}
.btn:hover {
  box-shadow: inset 1vw 1vw 3vw rgba(0, 0, 0, 0.25);
  background: #ae573a;
}
.row {
  background-color: rgb(228, 228, 228);
  width: 120px;
  height: 40px;
  border-radius: 10%;
  display: flex;
  text-align: center;
}
.button {
  background-color: rgb(228, 228, 228);
  border: none;
  cursor: pointer;
  font-size: 13px;
  line-height: 1.5;
  padding: 0px 10px;
  text-align: center;
}
.button:first-child {
  margin-right: 10px;
}
.button:last-child {
  margin-left: 10px;
}
.value {
  font-size: 13px;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  padding: 0px 10px;
  text-align: center;
  margin: auto;
}
